saveCommitToDynamoDB/node_modules/
saveCommitToDynamoDB/.serverless/
saveCommitToDynamoDB/.env


codeReview/node_modules/
codeReview/.serverless/
codeReview/.env

updateToELK/node_modules/
updateToELK/.serverless/
updateToELK/.env